{% load static %}
<style>
    body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#d1ec37, #46fc83);
}  
</style>
<div class="container">

    <div class="thumbnail">

        <div class="row">

            <div class="col-md-6">

                <a href="#">

                    <center><img class="img-responsive" src="{% static 'img/balance.jpg ' %}"></center>

                </a>

            </div>
            <div class="col-md-6">

                <div class="caption">

                   <center> <h2>Bangladesh Railway: Covid strikes hard, losses pile up</h2></center>

                    <hr>

                    <center><p>The pandemic took a huge toll on Bangladesh Railway as movement curbs over a significant period left the state-run operator with Tk 2,063 crore losses in the 2019-20 fiscal year.

                        The loss was Tk 419 crore higher than the previous year, when it was Tk 1,644 crore, shows BR data revealed recently. With the latest amount, BR incurred Tk 6,670.6 crore losses in just four years since 2016-17.</p></center>

                    <hr>

                    <center><p class="caption-footer">

                        <a href="#" class="btn"><span class="glyphicon glyphicon-heart"></span> Like it</a>

                        <a href="#" class="btn"><span class="glyphicon glyphicon-share"></span> Share it</a>

                    </p></center>

                </div>

            </div>

        </div>

    </div>

</div>