<style>
    body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#5feb82, #53cef3);
}  
</style>
<div class="container">

    <div class="thumbnail">

        <div class="row">

            <div class="col-md-6">

                <a href="#">

                    <center><img class="img-responsive" src="https://www.grandcentralrail.com/sites/default/files/basic_page_images/save-20.jpg"></center>

                </a>

            </div>
            <div class="col-md-6">

                <div class="caption">

                   <center> <h2>20% Discounts on Tickets</h2></center>

                    <hr>

                    <center><p>The start of a new year can be a very moving experience. It’s a time when we reflect with gratitude on the past and set our hopes and intentions for the days ahead . SO We are giving 20% discounts to our customer for new year 2022. Grave you ticktes, Hurry up! The offer will ends soon.</p></center>

                    <hr>

                    <center><p class="caption-footer">

                        <a href="#" class="btn"><span class="glyphicon glyphicon-heart"></span> Like it</a>

                        <a href="#" class="btn"><span class="glyphicon glyphicon-share"></span> Share it</a>

                    </p></center>

                </div>

            </div>

        </div>

    </div>

</div>