<style>
    body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#eb8a7e, #6bd7f8);
}  
</style>
<div class="container">

    <div class="thumbnail">

        <div class="row">

            <div class="col-md-6">

                <a href="#">

                    <center><img class="img-responsive" src="https://img.thedailystar.net/sites/default/files/styles/big_202/public/images/2021/11/03/ppp.jpg?itok=s6fXaIte&timestamp=1635879902"></center>

                </a>

            </div>
            <div class="col-md-6">

                <div class="caption">

                   <center> <h2>Dhaka to have circular rails</h2></center>

                    <hr>

                    <center><p>A South Korean consortium has started its study to assess whether it would invest on a project for building a circular railway around the capital, under a public private partnership (PPP) initiative.

                        Apart from technical and financial feasibility studies, it would also prepare a step-by-step plan on how to progress with the project and which portion of the railway should be prioritised, officials said.</p></center>

                    <hr>

                    <center><p class="caption-footer">

                        <a href="#" class="btn"><span class="glyphicon glyphicon-heart"></span> Like it</a>

                        <a href="#" class="btn"><span class="glyphicon glyphicon-share"></span> Share it</a>

                    </p></center>

                </div>

            </div>

        </div>

    </div>

</div>