<style>
    body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#5572f3, #65d3f5);
}  
</style>
<div class="container">

    <div class="thumbnail">

        <div class="row">

            <div class="col-md-6">

                <a href="#">

                    <center><img class="img-responsive" src="https://www.daily-bangladesh.com/media/imgAll/2021March/en/Railway-Minister-Md-Nurul-Islam-Sujon-2106110422.jpg"></center>

                </a>

            </div>
            <div class="col-md-6">

                <div class="caption">

                   <center> <h2>The use of CNG and LNG in railway</h2></center>

                    <hr>

                    <center><p>As part of the state-owned service provider's modernisation, the authorities are planning to introduce electric-, CNG- and LNG-run engines, Railway Minister Md Nurul Islam Sujon said on Tuesday while sharing his recent experience of visiting railways in some European countries.

                        Nurul Islam Sujon, along with a team, visited the United Kingdom, Germany, Spain, France and Russia from 22 November to 25 December, where they saw the railway networks and exchanged views on railway network development.</p></center>

                    <hr>

                    <center><p class="caption-footer">

                        <a href="#" class="btn"><span class="glyphicon glyphicon-heart"></span> Like it</a>

                        <a href="#" class="btn"><span class="glyphicon glyphicon-share"></span> Share it</a>

                    </p></center>

                </div>

            </div>

        </div>

    </div>

</div>